body {
    font-family: Arial;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border:none;
    background-color: rgb(201, 201, 201);
    font-size: 50px;
    font-weight: bold;
    transition: background-color, 0.15s;
}

button:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

button:active {
    background-color: rgb(56, 56, 56);
    color:white;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
    justify-content: end;
}

#calculator {
    background-color: rgb(226, 242, 255);
    max-width: 500px;
    overflow: hidden;
    border-radius: 15px;
}

#display {
    width: 90%;
    padding: 20px;
    padding-right: 50px;
    font-size: 70px;
    text-align: right;
    border: none;
    background-color: rgb(231, 245, 255);
}

.operator-button {
    background-color: rgb(59, 105, 255);
    color: white;
    justify-content: end;
}

.operator-button:hover {
    background-color: rgb(122, 153, 255);
}

.operator-button:active {
    background-color: rgb(194, 208, 255);
    color: black;
}